body{
font-family: sans-serif,"Mier Book";
font-size: 16px;
font-weight: 400;
}
.nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    height:72px;
    justify-content:space-evenly;
    align-items: center;
}
.line{
    height:1px;
    background-color: rgb(206, 206, 222);
    border-radius: 2px;
    width: 100%;
}
.nav-font{
   font-family:"Mier Book";
   color:#353543;
   font-size: 16px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.line1{
    width:20%;
    height:1px;
    background-color: rgb(217, 166, 208);
    
}
.font1{
    color:rgb(53,53,67);
    font-size:48px;
    font-family:"Mier Book";
}
.font2{
    font-size: 16px;
    color:rgb(53,53,67);
    font-family: "Mier bold";
}
.m-btn{
    background-color: rgb(159, 32, 137);
    border: none;
    margin-top:30px;
    padding: 10px 28px;
    width: 300px;
    height: 48px;
    color:white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
